| [‚¨ÖÔ∏è Previous Session](practice_2-1_control_flow_statements.ipynb) | [üè† Course Home](../index.ipynb) | [‚û°Ô∏è Next Session](practice_3-1_numpy.ipynb) |

# Practice 1-4: Structured Data in Python

## üìö  <b> Practice 1. </b> 

Dictionaries are an extremely common data structure. Often data is easiest to store according to keys, where each row of data has a unique key. 

For example, a dictionary of students might have a key for each student's name or id, and then a set of values that are associated with that student.

### Make a dictionary of your peers.

Come up with 3-4 questions and ask 5-6 of your peers to give answers to each one. The questions can be anything you want, but they should be questions that can be answered with a single word or number.

For example, you might ask:
- What is your favorite color? (pretty weak question)
- How many siblings do you have? (ok, but not great)
- What is your favorite genre of film? (better)
- On a scale of 1-10, how well do you feel that you understand python dictionaries? (better still)

Make sure you have a key for each person, and then a set of values for each question. 

Based on each person's responses, build a dictionary in the cell below:

(note: You will end up with a dictionary of dictionaries)

```python
# Example:
my_dict = {
    'person1': {
        'question1': 'answer1',
        'question2': 'answer2',
        'question3': 'answer3',
        'question4': 'answer4',
    },
    'person2': {
        'question1': 'answer1',
        'question2': 'answer2',
        'question3': 'answer3',
        'question4': 'answer4',
    },
    'person3': {
        'question1': 'answer1',
        'question2': 'answer2',
        'question3': 'answer3',
        'question4': 'answer4',
    },
}
```

In [1]:
meds_dictionary = {
    'mariam': {
        'kitchen color': 'grey',
        'pet name': 'bonbon',
        'birth month': 'august',
        'favorite movie': '10 things i hate about you',
    },
    'diana': {
        'kitchen color': 'green',
        'pet name': 'bruno',
        'birth month': 'april',
        'favorite movie': 'troy',
    },
    'rosemary': {
        'kitchen color': 'sage',
        'pet name': 'bolio',
        'birth month': 'june',
        'favorite movie': 'cowspiracy',
    },
}

## Dictionary to dataframe

Now that you have a dictionary, you can convert it to a dataframe.

### Convert your dictionary to a dataframe

Use the `pd.DataFrame()` function to convert your dictionary to a dataframe.

```python
import pandas as pd

# Convert a dictionary to a dataframe
df = pd.DataFrame(my_dict)
```

In [2]:
import pandas as pd

# Convert dict to data frame
meds_df = pd.DataFrame(meds_dictionary)

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.


### Investigate your dataframe using the following functions:

- `df.head()`
- `df.tail()`
- `df.info()`

In [3]:
meds_df.head()
meds_df.tail()
meds_df.info()

print(meds_df)

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, kitchen color to favorite movie
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   mariam    4 non-null      object
 1   diana     4 non-null      object
 2   rosemary  4 non-null      object
dtypes: object(3)
memory usage: 128.0+ bytes
                                    mariam  diana    rosemary
kitchen color                         grey  green        sage
pet name                            bonbon  bruno       bolio
birth month                         august  april        june
favorite movie  10 things i hate about you   troy  cowspiracy

Is your dataframe what you expected? If not, what is different? Why?? How would you need to change your data structure to get the dataframe you expected?

* Could be organized differently



`df.transpose()` might be helpful here. What does it do?
create a new dataframe that is a transposed version of your original dataframe.

```python
# Transpose a dataframe
df_transposed = df.transpose()
```

In [4]:
# Transpose your dataframe so that the people are the rows and the questions are the columns.
meds_df_transposed = meds_df.transpose()

print(meds_df_transposed)

         kitchen color pet name birth month              favorite movie
mariam            grey   bonbon      august  10 things i hate about you
diana            green    bruno       april                        troy
rosemary          sage    bolio        june                  cowspiracy

### Visualize/summarize your dataframe using one or more of the following functions:

- `df.describe()`
- `df.plot()`
- `df.hist()`

In [5]:
# I have no numeric data to use plot or histogram
meds_df_transposed.describe()

       kitchen color pet name birth month              favorite movie
count              3        3           3                           3
unique             3        3           3                           3
top             grey   bonbon      august  10 things i hate about you
freq               1        1           1                           1

## üìö  <b> Practice 2. </b>

### Structured data search: Find structured data on the internet and convert it to a dataframe.

You're looking for data that is in a table format, like a spreadsheet, but not available as an easy to download `.csv` or `.excel` file. This turns out to describe a lot of data!

Often you can find this kind of data on wikipedia, or on government websites, or in research articles that contain tables of results.

In [6]:
# store data link as a variable
url = 'https://cn.dataone.org/cn/v2/resolve/urn%3Auuid%3Afcb76615-b3ec-47d4-8ab5-7899d5231c18'

# use delimier to separate columns by the \
    # this is already a data frame lmao
mollusc_range = pd.read_csv(url, delimiter='\t')

### Convert your data to a dataframe

In [7]:
mollusc_range.describe()

              Year    Range_sqkm
count   662.000000  6.620000e+02
mean   1968.498489  7.720265e+04
std      37.769616  2.165497e+05
min    1883.000000  5.623770e+02
25%    1940.250000  3.280202e+03
50%    1973.500000  7.926513e+03
75%    2002.000000  3.464563e+04
max    2022.000000  1.369695e+06

In [8]:
mollusc_range.describe()

              Year    Range_sqkm
count   662.000000  6.620000e+02
mean   1968.498489  7.720265e+04
std      37.769616  2.165497e+05
min    1883.000000  5.623770e+02
25%    1940.250000  3.280202e+03
50%    1973.500000  7.926513e+03
75%    2002.000000  3.464563e+04
max    2022.000000  1.369695e+06

## Explore your dataframe using the following functions:

- `df.describe()`
- `df.plot()`
- `df.hist()`